<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Contact Manager</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a *ngIf="name!=''" href="#" class="active nav-link ">Hey {{name}}!</a>
          </li>
          &nbsp;
          <li class="nav-item">
            <button *ngIf="name!=''" (click)="logout()" class="nav-link active btn btn-danger rounded-pill" aria-current="page" href="#">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>

